<div class="padd">

  <p id="notice"><%= notice %></p>

  <h1>Formularios Enviados</h1>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Usuário</th>
      <th>Data</th>
    </tr>
    </thead>

    <tbody>
      <% @form.each do |formulario| %>
        <tr>
          <td><%= formulario.user.nome %></td>
          <td><%= formulario.created_at %></td>
          <td><%= link_to 'Ver Formulário', answers_path(formulario.id), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>



</div>

<div class="widget-foot">

  <%= button_to 'Voltar', formulario_preenchido_indexp_path, method: :get ,class: "btn btn-success" %>
</div>

