<div class="padd">

  <p id="notice"><%= notice %></p>

  <h1>Formularios Enviados</h1>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Usuário</th>
      <th>Nome do Campo</th>
      <th>Tipo</th>
      <th>Valor</th>

    </tr>
    </thead>

    <tbody>
    <% @form.each do |formulario| %>

        <tr>
          <td><%= formulario.user.nome %></td>
          <td><%= formulario.formulario_field.label %></td>

          <td><%= @tipo[formulario.formulario_field.field_type_id] %></td>

          <td>
            <% if formulario.formulario_field.file_field? %>
              <%= link_to 'Ver Arquivo', formulario.file.url, class: 'btn btn-primary' %>
            <% else %>
              <%= formulario.valor %>
            <% end %>
          </td>




        </tr>
    <% end %>
    </tbody>
  </table>

  <br>



</div>

<div class="widget-foot">

  <%= button_to 'Voltar', formulario_preenchido_indexp_path, method: :get ,class: "btn btn-success" %>
</div>

