<div class="padd">
  <h1>Editar Logo</h1>

  <% if @logo.image.present? %>
    <div class="well">
      <%= link_to @logo.image.url do %>
        <%= image_tag(@logo.image.thumb.url) %>
      <% end %>
    </div>
  <% end %>

  <%= simple_form_for @logo do |f| %>
    <%= f.input :image, label: 'Imagem' %>
    <%= f.button :submit, 'Editar Logo', class: 'btn btn-success' %>
  <% end %>
</div>

<div class="widget-foot">
  <%= button_to 'Voltar', root_path ,method: :get ,class:"btn btn-warning"%>
</div>



<form method="post" action="http://localhost:3000/api/v1/formulario" name="submit" enctype="multipart/form-data">
  <input type="file" name="valor"><br /><br />
  <input type="submit" name="submit" value="Submit">
</form>